{{>mostrarAlertas}}
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <img src="/images/logo.png" alt="Legitime" class="card-img-top mx-auto m-2 w-70">
                <h5 class="text-uppercase">Iniciar sesión</h5>
            </div>
            <div class="card-body">
                <form id="subscribeForm" action="/iniciar-sesion" method="POST">
                    <div class="form-group">
                        <input type="text" id="id" name="matricula" placeholder="Ingrese número de matrícula."
                            class="form-control" maxlength="12" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Ingrese una contraseña." required>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-secondary btn-block" type="submit" value="Iniciar sesión"
                            class="btn btn-primary" />
                    </div>
                </form>
             {{!--    <a href="/password-olvidada">¿Olvidaste tu contraseña?</a> --}}
            </div>
        </div>
    </div>
</div>