<main class="contenedor">
    <div class="row mt-5 error-mensaje">
        <div class="col centrado text-center">
            <h1>{{status}}</h1>
            <h3>{{mensaje}}</h3>
            <p>La URL a la que usted quiere acceder no existe.</p>
        </div>
    </div>
</main>