<h2 class="text-center text-uppercase text-white p-3 nombrePagina">{{nombrePagina}}</h2>
<div class="container">
    <div class="row mt-2">
        <div class="col-12 instrucciones bg-light borde-redondeado p-3">
            <h2 class="text-dark text-uppercase text-center mt-2">Registrar un documento:</h2>
            <hr>
            <p class="text-dark text-justify">1 - Genere su documento (.pdf).</p>
            <p class="text-dark text-justify">2 - Presione "Arrastre o seleccione un documento aquí".</p>
            <p class="text-dark text-justify">3 - Seleccione el documento que generó previamente.</p>
            <p class="text-dark text-justify">4 - Presione "REGISTRAR".</p>
            <p class="text-dark text-justify">5 - Aguarde mientras se registra el documento, <strong>este proceso puede
                    demorar
                    hasta 15 segundos</strong>.</p>
            <p class="text-dark text-justify">6 - Podrá visualizar los datos del registro, imprimir o descargar en
                formato PDF.
            </p>
            <p class="text-dark text-justify">7 - El registro contiene un código QR con el cual podrá verificar el
                documento
                accediendo desde un lector QR.</p>
        </div>

        <div class="col-12 instrucciones bg-light borde-redondeado mt-2 p-3">
            <h2 class="text-dark text-uppercase text-center mt-2">Comprobar un documento:</h2>
            <hr>
            <p class="text-dark text-justify">1 - Seleccione el documento que quiere comprobar (.pdf)
                y presione
                "Seleccione o arrastre un documento aquí".</p>
            <p class="text-dark text-justify">2 - Presione "COMPROBAR".</p>
            <p class="text-dark text-justify">3 - En caso de que dicho documento ya se encuentre registrado y no haya
                sido
                modificado, podrá
                visualizar los datos del mismo, imprimir o descargar en formato PDF.</p>
        </div>
    </div>
</div>